<header>
  <%= image_tag("tag.jpg", :alt => "Sample App", :class => "round") %>
   <nav class="round">
          <ul>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "News", news_path %></li>
            <li><%= link_to "Enquiry", enquiry_path %></li>
            <li><%= link_to "Submit", new_record_path %></li>
            <li><%= link_to "Survey", survey_path %></li>
          </ul>
     </nav>
</header>



